<h1>Incidence List</h1>
<div class="filters">
  <label>Priority:
    <select [(ngModel)]="priority">
      <option value="">Any</option>
      <option *ngFor="let p of priorities" [value]="p">{{p}}</option>
    </select>
  </label>
  <label>Facility: <input [(ngModel)]="facility" type="text" placeholder="Facility name"></label>
  <label>Limit: <input [(ngModel)]="limit" type="number" min="1"></label>
  <label>Offset: <input [(ngModel)]="offset" type="number" min="0"></label>
  <button (click)="load()">Load</button>
  <button (click)="loadAll()">Load All</button>
</div>
<table>
  <thead>
    <tr>
      <th *ngFor="let h of headers">{{h}}</th>
      <th>Actions</th>
    </tr>
    <tr>
      <th *ngFor="let h of headers">
        <input [(ngModel)]="filters[h]" (input)="applyFilters()" placeholder="Filter"/>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of filteredData">
      <ng-container *ngIf="editingId !== row.Id; else editRow">
        <td *ngFor="let h of headers">{{row[h]}}</td>
        <td><button (click)="startEdit(row)">Edit</button></td>
      </ng-container>
      <ng-template #editRow>
        <td *ngFor="let h of headers">
          <input *ngIf="isEditable(h)" [(ngModel)]="editedRow[h]" />
          <span *ngIf="!isEditable(h)">{{row[h]}}</span>
        </td>
        <td>
          <button (click)="saveEdit()">Save</button>
          <button (click)="cancelEdit()">Cancel</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>
